@page "/confirmation/{StoreId:int}";
@inject HttpClient _client;
@inject NavigationManager NavManager
@using ZenZygClient.Models;

<h3>Confirmation</h3>

<div class="container">
    <div class="row">
        <div class="col-6 col-md-4">
            <div class="container">
                <div class="row row-cols-2">
                    <div class="col text-center">
                        <label class="h5" for="date">Date of timeslot</label>
                        <input type="text" class="form-control-plaintext text-center" readonly id="date" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                    </div>
                    <div class="col text-center">
                        <label class="h5" for="timeslot">Timeslot</label>
                        <input type="text" class="form-control-plaintext text-center" readonly id="timeslot" value="Kl. 21:30" />
                    </div>
                </div>
            </div>

            <div class="container pt-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Phone number</span>
                    </div>
                    <input type="number" class="form-control" aria-describedby="basic-addon1" placeholder="Input phone number here..." @bind="PhoneNumber" />
                </div>

                <div class="container text-center">
                    <div class="row align-content-center">
                        <input class="btn btn-primary" type="submit" value="Get queue ticket" @onclick="ReserveBooking" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            @if (Ticket != null)
            {
                <img src="data:image/png;base64, @Ticket.QRData" alt="hejsa" />
            }
        </div>
    </div>
</div>



@code {
    [Parameter]
    public int StoreId { get; set; }

    private string PhoneNumber { get; set; }

    private DateTime Date { get; set; }

    TicketViewModel Ticket;

    private async Task ReserveBooking(MouseEventArgs e)
    {
        await _client.PostAsync("ticket/createticket/store/" + StoreId + "/customer/" + PhoneNumber, new StringContent("hej"));

        
        Ticket = await _client.GetFromJsonAsync<TicketViewModel>("ticket/7");
        


        //NavManager.NavigateTo("https://google.dk");
    }
}
