@page "/"
@inject HttpClient _client;
@using ZenZygClient.Models;

<h1>Supermarked</h1>



    @if (stores != null)
    {
        <div class="container">
            <div class="row">
                @foreach (var store in stores)
                {
                    <div class="card">
                        <div class="shop card-body">
                            <div class="card-title">
                                <p>@store.Name</p>
                            </div>

                            <div class="card-text">
                                <a href="/order" class="btn btn-link stretched-link"></a>
                                <p>@store.Size km</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
     }
    else
    {
    <p>Loading.....</p>
    }


    @code{
        private StoreViewModel[] stores;

        protected override async Task OnInitializedAsync()
        {
            stores = await _client.GetFromJsonAsync<StoreViewModel[]>("store/all");
        }


    }
    

