@page "/"
@inject HttpClient _client;
@using ZenZygClient.Models;

<h1>Supermarked</h1>



    @if (stores != null)
    {
        <div class="container">
            <div class="row">
                @foreach (var store in stores)
                {
                <div class="card">
                    <img src="img/@(store.Name).png" height="250" class="card-img-top" />
                    <div class="shop card-body">
                        <div class="card-title">
                            <h4>@store.Name</h4>
                        </div>

                        <div class="card-text">
                            <a href="/order/@store.StoreId" class="btn btn-link stretched-link"></a>
                            <p>@store.Address</p>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
     }
    else
    {
    <p>Loading.....</p>
    }


    @code{
        private StoreViewModel[] stores;

        private string ext = ".png";

        protected override async Task OnInitializedAsync()
        {
            stores = await _client.GetFromJsonAsync<StoreViewModel[]>("store/all");
        }


    }
    

