@page "/"
@inject HttpClient _client;
@using ZenZygClient.Models;

<h1>Supermarked</h1>



    @if (stores != null)
    {
        <div class="container">
            <div class="row">
                @foreach (var store in stores)
                {
                    <div class="card">
                        <div class="shop card-body">
                            <div class="card-title">
                                <p>@store.Name</p>
                            </div>

                            <div class="card-text">
                                <a href="/order/@store.StoreId" class="btn btn-link stretched-link"></a>
                                <p>@store.Address</p>
                                <img src="https://www.hvidovrec.dk/media/c2jmcsy4/netto-shoppage.png" width="64" class="rounded float-right" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
     }
    else
    {
    <p>Loading.....</p>
    }


    @code{
        private StoreViewModel[] stores;

        protected override async Task OnInitializedAsync()
        {
            stores = await _client.GetFromJsonAsync<StoreViewModel[]>("store/all");
        }


    }
    

