@page "/confirmation";

<h3>Confirmation</h3>

<div class="container">
    <div class="row">
        <div class="col-6 col-md-4">
            <div class="container">
                <div class="row row-cols-2">
                    <div class="col text-center">
                        <label class="h5" for="date">Date of timeslot</label>
                        <input type="text" class="form-control-plaintext text-center" readonly id="date" value="xxx" />
                    </div>
                    <div class="col text-center">
                        <label class="h5" for="timeslot">Timeslot</label>
                        <input type="text" class="form-control-plaintext text-center" readonly id="timeslot" value="xxx" />
                    </div>
                </div>
            </div>

            <div class="container pt-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Phone number</span>
                    </div>
                    <input type="number" class="form-control" aria-describedby="basic-addon1" placeholder="Input phone number here...">
                </div>

                <div class="container text-center">
                    <div class="row align-content-center">
                        <input class="btn btn-primary" type="submit" value="Get queue ticket" />
                    </div>
                </div>
            </div>  
        </div>
        <div class="col-md-8">
            
        </div>
    </div>
</div>

    

    @code {

    }
