@page "/"
@inject HttpClient _client;
<h1>Supermarked</h1>
<h2> Brah vlekommen til hovedsiden :*</h2>


    @if (shops != null)
    {
        @foreach (var shop in shops)
        {
            <div class="card">
                <div class="shop card-body">
                    <div class="card-title">
                        <p>@shop.Navn</p>
                    </div>

                    <div class="card-text">
                        <a href="/order" class="btn btn-link stretched-link"></a>
                        <p>@shop.Distance km</p>
                    </div>
                </div>
            </div>
        }
     }
    else
    {
    <p>Loading.....</p>
    }


    @code{
        private Shop[] shops;

        protected override async Task OnInitializedAsync()
        {
            shops = await _client.GetFromJsonAsync<Shop[]>("sample-data/shops.json");
        }

        public class Shop
        {
            public string Navn { get; set; }

            public int Distance { get; set; }

            public string Ejer { get; set; }
        }
    }
    }

